<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Co, initial-scale=1.0">
    <title>Contact List</title>
</head>
<body>
    <h1>Contact List</h1>
    {% block content %}
        {% for contact in contact_lists %}
            <ul>
                <li><a href="/contact_list/{{contact.id}}">{{contact.first_name}} {{contact.last_name}}</a></li>
            </ul>
        {% endfor %}    
            <div>
                <a href="{% url 'contact_list:new_contact' %}">new contact</a>
            </div>
    {% endblock %}
 
</body>
</html>
