
{% extends 'contact_list/index.html' %}

{% block content %}
    <h3>Create a new contact:</h3>
    <form action="{% url 'contact_list:submit' %}" method="post">
        {% csrf_token %}
        <input type = "text" name="first_name" placeholder="first name"/>
        <input type = "text" name="last_name" placeholder="last name"/>    
        <input type="number" name="age" placeholder="age"/>
        <input type="date" name="birthday" placeholder="birthday"/>
        <input type="text" name="phone_number" pattern = "[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="phone number:"/>
        <input type="checkbox" name="is_cell" placeholder="cell phone?"/>
        <text_area name="comments" placeholder="comments"/></text_area>
    </form>
{% endblock %}    