

article p {
    padding: 15px;
}


.article-header {
    border-bottom: 1px solid #777777;
}

.article-header h2 {
    margin: 0;
}

.blog-image {
    display: flex;
    justify-content: center;
}

.blog-image > span { /* target child */
    border: 2px solid #777777;
    border-radius: %50
}