<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Cats!</title>
</head>
<body>
    <div id="app">
        <select v-model="catagory_input">
            <option v-for="cata in catagories" v-bind:value="cata">{{ cata }}</option>
        </select>
        <button v-on:click="getCat" id="btn_submit_info" class="btn btn-primary">Submit</button>
    </div>
    <script>
        var cataData = null
        var cataNames = new Array()
        axios({
            method: 'get',
            url: 'https://api.thecatapi.com/v1/categories'
        }).then((response) => {
            cataData = response.data
            for (let i = 0; i < response.data.length; i++){
                cataNames.push(response.data[i]['name'])
            }
            console.log(cataData)
            console.log(cataNames)
        })
        console.log(cataData)
        console.log(cataNames)
        let app = new Vue({
            el: "#app",
            data: {
                catagories: cataNames,
                catData: cataData,
                catagory_input: "",
                cat_got: ""
            },
            methods: {
                getCat: function () {
                    console.log(this.catagory_input)
                    console.log(this.catagories.indexOf(this.catagory_input))
                    console.log(this.catData)
                    axios({
                        method: "get",
                        url: `https://api.thecatapi.com/v1/images/search?category_ids=${this.catData[this.catagories.indexOf(this.catagory_input)]['id']}`
                    }).then((response) => {
                        console.log(response.data)
                    })
                }
            }
        })
    </script>
</body>
</html>