h1{
    text-align: center;
}

.option{
    flex: auto;
    margin-top: 250px;
    margin-left: 40%;
}

#author{
    text-align: center;
}

#quote{
    text-align: center;
}

#random_quote{
    margin-top: 50px;
    flex: auto;
    flex-direction: column;
}

#words{
    text-align: center;
}

#searchbar{
    display: block;
    margin-left: 45%
}

#select{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#catimg{
    margin-top: 50px;
    display: block;
    text-align: center;
}