#weather{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

#weather-card{
    margin-left: .25%;
    margin-right: .25%;
    width: 12%;
    height: 90%;
    background-color: lightgray;
}

#date-text{
    text-align: center;
    text-emphasis: 30px;
}

#temp-text{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#weather-image{
    height: 200px;
}

h1{
    text-align: center;
    font-size: 30px;
}