<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chore</title>
</head>
<body>
    <h1>chores galore</h1>
    <img src='../static/chores.png' alt=what the >
    <h3>Enter a chore and priority:</h3>
    <main>
        <form action="/" method="post">
            <input type="text" name ="task" placeholder="Add a task"/>
            <select name = "priority">
                <option selected="selected">Priority</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
            <button type="submit">Add</button>
        </form>
        <div>
            <ol>
                {% for chores in chores %}
                <li> {{chores['chore']}}<span> Do it with this level of urgency: </span>{{chores['priority']}}</li>
                {% endfor %}
            </ol>
        </div>
    </main>

</body>
</html>