<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css') }}"
    />

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <title>To Do List</title>
  </head>
  <body>
    <h1>
      <img src="{{ url_for('static', filename='chores.png') }}" />
    </h1>
    <form action="/" method="post">
      <!--SHOULD ONLY CONTAIN INPUT AND BUTTOn-->
      <input type="text" name="chore_list" />
      <button type="submit">SUBMIT</button>
    </form>


<!--rainbow table-->
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        Dapibus ac facilisis in
      </li>
      <li class="list-group-item list-group-item-info">
        Cras sit amet nibh libero
      </li>
      <li class="list-group-item list-group-item-warning">
        Porta ac consectetur ac
      </li>
      <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
    </ul>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success"
        >Dapibus ac facilisis in</a
      >
      <a href="#" class="list-group-item list-group-item-info"
        >Cras sit amet nibh libero</a
      >
      <a href="#" class="list-group-item list-group-item-warning"
        >Porta ac consectetur ac</a
      >
      <a href="#" class="list-group-item list-group-item-danger"
        >Vestibulum at eros</a
      >
    </div>

    <!--JINJA DOC-->


    <ul>
      {% for chore in chores %}
      <li>
        {{ chores.chore}}
        <!--THIS IS THE DICT-->
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
