{% extends 'contacts/base.html' %}

{% block title %}New{% endblock %}

{% block navbar %} - New Contact{% endblock %}

{% block content %}
<a href="{% url 'contacts:index' %}">previous</a>
<form action="{% url 'contacts:new_save' %}" method="post">
    <ul>
        {% csrf_token %}
        <li><label for="input_first_name">First Name: </label></li>
        <li><input id="input_first_name" type="text" name="contact_first_name" /></li>

        <li><label for="input_last_name">Last Name: </label></li>
        <li><input id="input_last_name" type="text" name="contact_last_name" /></li>

        <li><label for="input_birthday">Birthday: </label></li>
        <li><input id="input_birthday" type="date" name="contact_birthday" /></li>

        <li><label for="input_phone_number">Phone Number: </label></li>
        <li><input id="input_phone_number" type="text" name="contact_phone_number" /></li>

        <li><label for="input_is_cell">Cellphone? </label>  <input id="input_is_cell" type="checkbox" name="contact_is_cell" /></li>

        <li><label for="input_comments">Comments: </label></li>
        <li><textarea id="input_comments" name="contact_comments"></textarea></li>
    </ul>
    <button type="submit">Create New Contact</button>
</form>
{% endblock %}