{% extends 'contacts/base.html' %}

{% block title %}New{% endblock %}

{% block content %}
<form>
    <ul>
        <li><label for="input_first_name">First Name: </label></li>
        <li><input id="input_first_name" type="text" /></li>
        <li><label for="input_last_name">Last Name: </label></li>
        <li><input id="input_last_name" type="text" /></li>
        <li><label for="input_birthday">Birthday: </label></li>
        <li><input id="input_birthday" type="date" /></li>
        <li><label for="input_phone_number">Phone Number: </label></li>
        <li><input id="input_phone_number" type="text" /></li>
        <li><label for="input_is_cell">Cellphone? </label></li>
        <li><input id="input_is_cell" type="checkbox" /></li>
        <!-- <li><label for="input_comments">Comments: </label><input id="input_comments" type="text" /></li> -->
        <li><label for="input_comments">Comments: </label></li>
        <li><textarea id="input_comments"></textarea></li>
    </ul>
</form>
{% endblock %}