label{
    margin-right: 100px;
}

#top-row{
    background-color: rgb(218, 218, 176);
}

#first{
    background-color: beige;
}
#second{
    background-color: white;
}

#row{
    border: 1px solid grey;
}

#name{
    font-size: 45px;
}

#button{
    margin-top: 20px;
    margin-left: 20px;
}

#red{
    color: red;
}