<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact List</title>
    <style>
        body{
            text-align: center;
            align-content: center;
        }
    </style>
</head>
<body> 
    <h1>Contacts</h1>
    {% if Contacts %}
    <ul>
    {% for contact in Contacts %}
        <li><a href="{% url 'contactlist:details' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No contacts have been saved. Add some <a href="{% url 'contactlist:create_contact/' %}">here!</a></p>
    {% endif %}

    <a href="{% url 'contactlist:create_contact' %}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
</body>
</html>