<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contacts</title>
    <style>
        body{
            text-align: center;
            align-content: center;
        }
    </style>
</head>

<body>
    <h1>Contacts</h1>
    <table class="table">
      <tr>
          <th><a href="{% url 'contactlist:entry_page' %}" title="new" class="btn btn-success btn-lg">✅</a></th>
          <th></th>
          <th></th>
      </tr>
      {% for card in cards %}
      <tr>
          <td><a href="{% url 'contactlist:detail' card.id %}" title="details" class="btn btn-secondary btn-sm">🔎</a>&ensp;
            <a href="{% url 'contactlist:edit_page' card.id %}" title="edit" class="btn btn-info btn-sm">⚒️</a>&ensp;
            <a href="{% url 'contactlist:delete' card.id %}" title="delete" class="btn btn-danger btn-sm">⛔</a>&ensp;
            {{card.last_name}}, {{card.first_name}}</td>
          <td></td>
          <td></td>
      </tr>
      {% endfor %}
  </table>
</body>

</html>