<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name"/>
        {{name}}
        <table>
            <tr v-for="contact in contacts">
                <td><input type="text" v-model="contact.name"/></td>
                <td><input type="number" v-model="contact.age"/></td>
            </tr>
        </table>
        {{contacts}}
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: 'joe',
                contacts: [{
                    name: 'joe',
                    age: 34
                },{
                    name: 'jane',
                    age: 23
                },{
                    name: 'janice',
                    age: 12
                }]
            }
        })
    </script>
</body>
</html>