
{% extends 'base.html' %}

{% block content %}
    <div id="rotate-string-content">        
        <div class="row">
            <div id="form-container" class="col s12 l8 offset-l3">
                <form action="/rotate" method="POST">
                    <fieldset class="row">
                        <input class="col s11 l10 offset-l1" type="text" id="user_string" name="user_string" placeholder="Enter a word or phrase">
                        
                        {% if error %}
                        <div class="error col s10 offset-s1">
                            {{ error }}
                        </div>
                        {% endif %}
                    </fieldset>
    
                    <fieldset class="row" id="r_factor">
                        <div class="col s12 valign-wrapper">
                            <div id="r_factor_label">Rotation factor:</div>
                            <input type="number" name="r_factor" id="r_factor_input" value=13 placeholder="13">
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col s4 offset-s4" id="submit-container">
                            <input type="submit" value="Submit" id="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if context %}
            <div class="row">
                <div class="col s10 offset-s1 l6 offset-l4"  id="result">
                    
                    <div class="row">
                        <div class="col s12">
                            <span>"{{ context.user_string }}"</span>
                        </div>
                        <div class="col s12">
                            rotated <span>{{ context.r_factor }}</span> places:
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <h2>{{ context.rotated_string }}</h2>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}