<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='../../static/style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>

<!--this view is rendering template and review submission-->
    <form action="/" method="post"> <!--sending form to / and using method of post, then placeholder is -->
        <input type="text" name="user_name" placeholder="enter some text"/>
        <input type="date" name= "birthday"/>
        <button type="submit">submit</button>
    </form>

    <h1>Hello {{name}}</h1>
    <span>The temperature is {{temperature}}</span>
    {% if temperature > 70 %}
    <span>hot</span>
    {% elif temperature > 60% }
    <span>warm</span>
    {% else %}
    <!--special TEMPLATE RENDERING syntax-->
    <span>cold</span>
    {% endif %}

    <ul>
      {% for num in nums %}
      <li>
        <a href="https://google.com">Google</a>
        {% endfor %}
      </li>
    </ul>


    <!--https://github.com/PdxCodeGuild/class_armadillo/blob/master/2%20HTML%2BCSS/docs/02%20-%20HTML%20Elements.md-->
    <h2>
      <input type="text" />
      <input type="date" />
      <input type="color" />
      <input type="password" />
      <input type="radio" />
      <input type="checkbox" />
    </h2>

    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
  </body>
</html>


<!--https://github.com/PdxCodeGuild/class_armadillo/blob/master/3%20Flask/docs/01%20-%20HTML%20Forms.md

    FORMS - how to do requests

    all name attributes become keys

    then the things the user enters become the values

    got to NETWORKING doc in teh GENERAL folder to review HTTP methods like requests CRUD

    parallel SQL operations
-->