<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/style.css">
  </head>
  <body>
    <h1>Contacts</h1>
    <div>
      <a href="{% url 'contacts:new_contact' %}" class="btn btn-success btn-lg">➕Submit New Contact here</a>
    </div>
    <table class="table">
      <tr>
        
      <ul>
        {% for contact in contacts %}
        <li>{{ contact }}</li>

        {% endfor %}
      </ul>

    </div>
    <div>
      <!-- display the image-->
      <img src="../../static/mysite/images/Martigora_engraving.jpg" />

      <!-- create a link -->
      <a href="{{image.url}}">{{image.name}}</a>
      <form action="http://localhost:8000/admin/" method="POST" enctype="multipart/form-data">
        <!-- ... -->
        <input type="file" name="my_image" accept="image/*" required>
        <button type="submit">submit</button>
    </form>
    </div>
  </body>
</html>
