<!--LAB 01 FLASK requirement: https://github.com/PdxCodeGuild/class_armadillo/blob/master/3%20Flask/labs/lab01_flask_intro.md-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css') }}"
    />
    <style type="text/css">
      /*see style.css */
    </style>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='rot13 logo.png') }}"/>
    </header>

    <!--SUCCESSFUL RUN-->
    <!--127.0.0.1 - - [12/May/2020 17:35:04] "POST /test/ HTTP/1.1" 200 --->
    <form action="/test/" method="post">
      <!--basic version needs one button and one input-->
        <input value="" name="box1" placeholder="enter a word"/>
      <!--everttime 'submit' is hit, it calls the function-->
    <button type="submit">submit</button>
    </form>
  </body>
</html>
