<!DOCTYPE html>
<html lang="en">

<head>
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
</head>

<body>
    <header>
      <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css') }}"
    />
    </header>
    <div id="main">
        <img id="image" src="../static/password gen.png">
        <form id="forms" action="" method="post">
            <input type="text" placeholder="Enter length of password: " name="number" />
            <button type="submit">submit</button>
        </form>
    </div>
    <div id="output">Your password is: {{output}}</div>

</body>

</html>