<!--LAB 01 FLASK requirement: https://github.com/PdxCodeGuild/class_armadillo/blob/master/3%20Flask/labs/lab01_flask_intro.md-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Generator</title>
    <!--equivalent of Sam's line 11 for this lab-->
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css') }}"
    />
    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>

    <style type="text/css">
      /*see style.css */
    </style>
  </head>

  <body>
    <header>

      <div class="box">
        <div>Who</div>
        <div>Would</div>
        <div>Like
            <br>To
            <br>Make
            <br>A
        </div>
      </div>

      <div class="container">
      <img src="{{ url_for('static', filename='password gen.png') }}" />
    </header>

    <div class="container-fluid">
      <div class="row">
        <form action="/" method="post">
          <!--basic version needs one button and one input-->
          <input
            type="number"
            name="upper"
            placeholder="Enter how many uppercase letters: "
            size="50"
          />

          <input
            type="number"
            name="lower"
            placeholder="Enter how many lowercase letters you desire: "
            size="50"
          />

          <input
            type="number"
            name="punct"
            placeholder="Enter how many punctuation marks you want: "
            size="50"
          />

          <input
            type="number"
            name="digit"
            placeholder="Enter how many digits you want: "
            size="50"
          />
          <!--everytime 'submit' is hit, it calls the function-->
          <br>
          <button type="submit">submit</button>
        
        </form>
      </div>
    </div>

    {%if output != ""%}
    <div class="output">
      <span>
        Your password is: " {{output}} "
      </span>
    </div>
    <span>
      {%endif%}
    </span>
    <div>
      <span>
        Thank you, Troy and Billy, for helping me out on this one!
      </span>
    </div>

    <h1>A fun thing to incorporate</h1>

    <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
      0 <input type="range" id="a" value="50" />100 +<input
        type="number"
        id="b"
        value="50"
      />
      =<output name="x" for="a b"></output>
    </form>
  </div>
  </body>
</html>
