<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Index</title>
</head>
<body>
    <h1>{{title}}</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
        {% for contacts in contact %}
        <tr>
            <td><a href="{% url 'contactsapp:detail' contacts.id %}">{{contacts.first_name}} {{contacts.last_name}}</a></td>
            <td><a href="tel:{{contacts.phone_number}}">{{contacts.phone_number}}</a></td>
        </tr>
        <span>
        </a>
        </span>
        {%endfor%}
    </table>
    <div>
        <a href="{% url 'contactsapp:contactsnew' %}">  <button type="submit">New Contact</button>
    </div>
</body>
</html>