<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Contact</title>
</head>

<body>
    <div>
        <h1>
            New Contact Form
        </h1>
        <form>
            <table>
                <tr>
                    <td><label for="input_first_name">First Name</label><input type="text" id="first"></td>
                </tr>
                <tr>
                    <td><label for="input_last_name">Last Name</label><input type="text" id="last"></td>
                </tr>
                <tr>
                    <td><label for="input_age">Age</label><input type="number" id="age"></td>
                </tr>
                <tr>
                    <td><label for="input_birthday">Birthday</label><input type="date" id="birthday"></td>
                </tr>
                <tr>
                    <td><label for="input_phone_number">Phone Number</label><input type="text" id="phone"></td>
                </tr>
                <tr>
                    <td><label for="cell_checkbox">Is Cell</label><input type="checkbox" id="iscell"></td>
                </tr>
                <tr>
                    <td><label for="input_comments">Comments</label><textarea id="comments"></textarea></td>
                </tr>
            </table>
            <input type="submit" value="submit">
        </form>
    </div>

</body>

</html>