<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
    body {text-align: center;
        background: #F1F2F6}
    h1{color: #27187E;}
    p{color: #27187E;}
    h2{color: #FF8600}
</style>

<body>
    <header>
        <h1>Automated Password Generator</h1>
    </header>
    <p>How long should your password be?</p>

    <form action="/" method="POST">
        <div class="form-group">
            <input type="text" name="length" placeholder="enter a number" required>
        </div>
        <div class="form-group">
            <p>Should we include uppercase characters?</p>
            <input type="radio" name="upper" id="upper" value=yes required> Yes</input><br>
            <input type="radio" name="upper" id="upper" value=no> No </input><br>
        </div>
        <div class="form-group" required>
            <p>Should we include special characters?</p>
            <input type="radio" name="special" value=yes required> Yes</input><br>
            <input type="radio" name="special" value=no> No </input><br>
        </div>
        <div class="form-group" required>
            <p>Should we include numbers?</p>
            <input type="radio" name="numbers" value=yes required> Yes</input><br>
            <input type="radio" name="numbers" value=no> No </input><br>
        </div>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>

    <h2>You're new password is: {{context["password"]}}</h2>


</body>

</html>