*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;
}
.navbar-style
{
    box-shadow: 0 6px 12px #66b2f0;
    text-transform: uppercase;
}
.logo
{
    height: 75px;
    padding: 1px 5px;
    
}

.icon-bar
{
    background: rgb(37, 6, 238);
    
}

li a {
    color: skyblue
    
}

.big-text
{
   font-size: 36; 
   margin: 25px 0;
   color: skyblue;
}

a.btn
{
    margin: 35px 12px;
    width: 145px;
    padding: 9px;
    border-radius: 20px;
}

a.btn-first
{
    background-color: transparent;
    border: 4px solid pink;
    color: skyblue;
    
}

a.btn-second
{
    background-color: transparent;
    border: 4px solid pink;
    color: darkblue;
}

a.btn:hover
{
    background: skyblue;
    border: none;
    color: rgb(5, 141, 220);
    box-shadow: 7px 7px 12px rgb(235, 6, 6);
    transition: 0.5s;
}

.banner-info, .banner-image
{
    margin: 45px 0;

}

body 
{
    background-image: url("background_home_page.jpeg")no-repeat;
}