
{% extends 'contacts/base.html' %}


{% block title %}List{% endblock %}

{% block content %}
    <a href="{% url 'contacts:new' %}" class="btn btn-primary">New Contact</a>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Birthday</th>
            <th></th>
            <th></th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td><a href="{% url 'contacts:detail' contact.id %}">{{contact.last_name}}, {{contact.first_name}}</a></td>
            <td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
            <td><a href="tel:{{contact.phone_number}}">{{contact.formatted_phone_number}}</a></td>
            <td>{{contact.birthday|date:'Y-m-d'}} ({{contact.age}})</td>
            <td><a href="{% url 'contacts:delete' contact.id %}" class="btn btn-primary">delete</a></td>
            <td><a href="{% url 'contacts:edit' contact.id %}" class="btn btn-primary">edit</a></td>
        </tr>
        {% endfor %}
    </table>

    {% comment %}
    <ul>
        {% for contact in contacts %}
        <li>{{contact.first_name}} {{contact.last_name}}</li>
        {% endfor %}
    </ul>
    {% endcomment %}
    
{% endblock %}