/* TO MAKE A COMMENT in CSS COMMAND / 
To target the input fields and buttons use the class inside the 
field or button I want to target and give it descriptive names 
class= 'input_field' and class= 'input_field' */

h1 {
    color:green;
}
.input_field { 
    width: 20%;
}

.input_button {
    width: 10%;
}

header {
    text-align:center;
    background-color:ivory;
    box-shadow: 0 5px 5px grey;
    margin-bottom:20px;
}
.message {
    background-color:blue;
    padding:10px;
    color:white;
}
