{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
{% block content %}
<body>
    <div> {% if search %} {{Pokemon.count}} found for "{{search}}" search. {% endif %}</div>
    {% for pokemon in Pokemon %}
    <li><a href="{% url 'pokedex:details' pokemon.name %}">{{ pokemon.number }} {{ pokemon.name | title }}</a></li>
{% endfor %}

<div>
    {% if Pokemon.has_previous %}
        <a href="?page={{Pokemon.previous_page_number}}">&lt;</a>
    {% endif %}
    <span>{{Pokemon.number}}</span>
    {% if Pokemon.has_next %}
        <a href="?page={{Pokemon.next_page_number}}">&gt;</a>
    {% endif %}
</div>
</body>
{% endblock content %}
</html>