h1{
    text-align: center;
}

#cards{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}

#content{
    width: 300px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}