<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <style type="text/css">
        /* my style here */
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='cooltext.png') }}">
    <hr/>
    <form>
        <input type="text" name="animal" placeholder="enter an animal" disabled/>
        <input type="text" name="texture" placeholder="enter a texture"/>
        <input type="text" name="noun" placeholder="enter a noun"/>
        <button type="submit">submit</button>
    </form>
    <div>{{result}}</div>
</body>
</html>