<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://images.cooltext.com/5435413.png">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>Cat API</title>
</head>
<style>
    body {
        background-color: bisque;
    }

    h3 {
        text-align: center;
    }

    .cat_img {
        text-align: center;
        border-radius: 25px;
    }

    .avatar {
       text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
    }

    .button {
        text-align: center;
        margin: 10px;
    }

    .dropdown {
        text-align: center;        
    }
</style>

<body>
    <h3>Here Kitty, Kitty!</h3>
    <div id="app">
        <div class="cat_img">
            <img v-bind:src="img_url" height="200px" width="200PX" class="cat_img">
        </div>
        <div class="button">
            <button v-on:click="getCatPic" class="btn btn-outline-dark">Here Kitty</button>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

        <div class="dropdown">
            <select v-model="input_category" name="category" id="">                
                <option v-for="category in categories" :value="category.id">{{category.name}}</option>
            </select>
        </div>

        <div class="avatar">
            <img v-bind:src="img_url" class="avatar" >
        </div>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: "#app",
            data: {
                img_url: "",
                categories: [],
                get_categories: "",
                input_category: "",
            },
            methods: {
                getCatPic: function () {
                    axios({
                        method: "get",
                        url: `https://api.thecatapi.com/v1/images/search?category_ids=${this.input_category}`,
                    }).then(response => {

                        this.img_url = response.data[0].url
                    })
                },
                lookFor: function () {
                    axios({
                        method: "get",
                        url: "https://api.thecatapi.com/v1/categories",
                    }).then(response => {
                        console.log(response.data)
                        this.categories = response.data
                    })
                }
            },
            created: function () {
                this.getCatPic()
                this.lookFor()
            },
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>