{% extends 'base.html' %}

{% block content%}
<div class="container">
  <div class="row" id="pokedex">

    <!-- left side -->
    <div class="col col-5 offset-1" id="left-side">

      <!-- camera -->
      <div class="row">
        <div class="col col-12">

          <div class="d-flex" id="camera-panel">
            <div class="d-flex" id="camera">
              <div class="d-flex align-items-center justify-content-center" id="lens">
                <div id="inner-lens">
                  <div id="glare">

                  </div>
                </div>
              </div>

              <div class="led" id="red-led"></div>
              <div class="led" id="yellow-led"></div>
              <div class="led" id="green-led"></div>

            </div>
          </div>
          <!--end camera panel -->

        </div>
      </div>

      <!-- main screen -->
      <div class="row no-gutters" id="left-panel">
        <div class="col col-10 offset-1" id="main-screen-outer">

          <div class="row no-gutters">
            <div class="col col-12" id="main-screen-inner">
              <div class="row no-gutters">
                <div class="col col-2 offset-5 d-flex justify-content-between">
                  <div class="small-red-circle"></div>
                  <div class="small-red-circle"></div>
                </div>
              </div>

              <div class="row">
                <div class="col col-10 offset-1" id="main-screen">
                  {% if pokemon %}
                  <div class="pokemon-image d-flex align-items-center justify-content-center">
                    <img src="{{ pokemon.image_front }}" alt="{{ pokemon.name }}">
                  </div>
                  {% endif %}
                </div>
              </div>

              <div class="row">
                <div class="col col-4 offset-2">
                  <div class="med-red-circle">

                  </div>
                </div>
                <div class="col col-5">
                  <div class="speaker-line"></div>
                  <div class="speaker-line"></div>
                  <div class="speaker-line"></div>
                  <div class="speaker-line"></div>
                </div>
              </div> <!-- end main-screen-inner -->
            </div>

          </div>
        </div>

        <!-- bottom panel -->
        <div class="row" id="bottom-panel">
          <div class="col col-7">
            <div class="row">
              <div class="col col-10 offset-1 d-flex align-items-center">
                <div id="blue-button"></div>
                <div class="green-button"></div>
                <div class="orange-button"></div>
              </div>
            </div>
            <div class="row">
              <div class="col col-7 offset-4">
                <div id="yellow-rect"></div>

              </div>
            </div>
          </div>

          <div class="col col-4 d-flex align-items-center">
            <div id="d-pad" class="">
              <div id="up-down-border"></div>
              <div id="up-down"></div>
              <div id="left-right-border"></div>
              <div id="left-right"></div>
              <div class="center-circle"></div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col col-1" id="spine">

    </div>

    <div class="col col-5 align-self-end" id="right-side">
      <div class="row">
        <!-- green info screen -->
        <div class="col col-10 offset-1" id="info-screen">
          <p>
            {% if not pokemon and not pokemon_list and not query%}
              Welcome to PokeDex!
            {% endif %}
            {% if pokemon or pokemon_list.object_list.count == 1 %}
          <h3 class="text-center">{{ pokemon.name }}</h3>
          <div class="row no-gutters">
            <div class="col col-6 d-flex-column align-items-end">
              <p class="text-right">Number</p>
            </div>
            <div class="col col-6">
              <p>{{ pokemon.number }}</p>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col col-6 d-flex-column align-items-end">
              <p class="text-right">Type(s)</p>
            </div>
            <div class="col col-6">
              <p>{{ types }}</p>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col col-6 d-flex-column align-items-end">
              <p class="text-right">Height</p>
            </div>
            <div class="col col-6">
              <p>{{ pokemon.height }}</p>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col col-6 d-flex-column align-items-end">
              <p class="text-right">Weight</p>
            </div>
            <div class="col col-6">
              <p>{{ pokemon.weight }}</p>
            </div>
          </div>
          <!-- If more than one pokemon returned in query -->
          
          {% else %}

            <p></p>
            {% if pokemon_list.object_list.count == 0 %}
              No Pokemon found with 
              {% if query_type == 'poke_type' %} type {%else%} {{query_type}} {% endif %} "{{ query }}"

            {% else %}
              {% for pokemon in pokemon_list %}
                <a href="{% url 'pokedex' pokemon.number %}" class="poke-list-link">
                  <div class="row no-gutters poke-list-item">
                    <div class="col col-3 offset-1">
                      <p>{{ pokemon.number }}.</p>
                    </div>
                    <div class="col col-8">
                      <p>{{ pokemon.name }}</p>
                    </div>
                  </div>
                </a>
              {% endfor %}
            {% endif %}
          {% endif %}
          </p>
        </div>
      </div>

      <!-- blue buttons panel -->
      <div class="container">
        <div class="row">
          <div class="col col-8 offset-2" id="blue-buttons">
            
            <form action="{% url 'pokedex' %}" method="POST" class="d-flex-column align-items-center">
              <div class="row">
                <div class="col col-12 text-center">
                  {% csrf_token %}
                  <input type="text" name="query" class="text-center" placeholder="Search..." value="{% if query %} {{ query }} {% endif %}">
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col col-3 offset-1 text-center">
                  <label>Name</label> 
                    <input type="radio" name="query_type" value="name" {% if query_type == 'name' %} checked {% endif %}>
                </div> 
                <div class="col col-3 text-center">
                  <label>Type </label> <input type="radio" name="query_type" value="poke_type" {% if query_type == 'poke_type' %} checked {% endif %}>
                </div>
                <div class="col col-4 text-center">
                  <label>Number</label> <input type="radio" name="query_type" value="number" {% if query_type == 'number' %} checked {% endif %}>
                </div>
                <div class="col col-12 text-center">
                  <input type="submit" class="blue-button" value="Submit">
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col col-6 d-flex" id="yellow-green-leds">
            <div class="led" id="yellow-led"></div>
            <div class="led" id="green-led"></div>
          </div>
          <div class="col col-6 d-flex" id="orange-green-buttons">
            <div class="green-button"></div>
            <div class="orange-button"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-6">
            <div class="d-flex justify-content-around" id="grey-arrow-buttons">
              <div class="grey-button d-flex justify-content-center align-items-center">
                <div class="arrow">
                  &#129088;
                </div>
              </div>
              <div class="grey-button d-flex justify-content-center align-items-center">
                <div class="arrow">
                  &#129090;
                </div>
              </div>
            </div>
          </div>

          <div class="col col-6 d-flex justify-content-around">
            <a href="{% if pokemon_list.has_previous %} ?page={{ pokemon_list.previous_page_number }}&query={{ query }}&query_type={{ query_type }} {% else %} # {% endif %}">
              <div class="yellow-button d-flex justify-content-center align-items-center">
                <div class="double-arrow">&#11244;</div>
              </div>
            </a>
            
            <a href="{% if pokemon_list.has_next %} ?page={{ pokemon_list.next_page_number }}&query={{ query }}&query_type={{ query_type }} {% else %} # {% endif %}">
            
              <div class="yellow-button d-flex justify-content-center align-items-center">
                <div class="double-arrow">&#11246;</div>
              </div>
            </a>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}