<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    
</head>
<body>
    <h1>INDEX</h1>
    <form>
        <textarea name="input text" rows="20" cols="100" placeholder="enter text here"></textarea>
        <button type="submit">calculate ari</button>
    </form>
    <div>{{message1}}</div>
    <div>{{message2}}</div>
    
</body>
</html>