<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>
<body>
    <ul> 
      <li>{{ contact.first_name }}</li> <!-- {{ contact.title }} .title here is accessing the model each of the things on the model -->
      <li>{{ contact.last_name }}</li>
      <li>{{ contact.birthday }}</li>
      <li>{{ contact.phone_number }}</li>
      <li>{{ contact.is_cell }}</li>
      <li>{{ contact.comments }}</li>
    </ul>
</body>
</html>