<!--Form Validation: https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_form_validation_was&stacked=h-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Detail Page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Detail Page</h2>
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname" value="{{ contact.first_name }}" placeholder="Please Enter Firt Name" name="first_name" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname" value="{{ contact.first_name }}" placeholder="Please Enter Last Name" name="last_name" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" value="{{ contact.age }}" placeholder="Please Enter Your Age" name="age" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
                <label for="bday">Birth Day:</label>
                <input type="number" class="form-control" id="bday" value="{{ contact.birthday }}" placeholder="Please Enter Your Birthday" name="birthday" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
                <label for="pnum">Phone Number:</label>
                <input type="number" class="form-control" id="pnum" value="{{ contact.phone_number }}" placeholder="Please Enter Phone Number" name="phone_number" required />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="is_cell" required /> Is a Cellphone number.
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                </label>

        <div class="form-group">
            <label for="comments">Comments:</label>
            <textarea class="form-control" id="comm" name="comments"> </textarea>
        </div>
        
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </body>
</html>

