<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <ul>
      {% for contact in contacts %}
      <li>{{ contact.first_name }}</li> <!-- {{ contact.title }} .title here is accessing the model each of the things on the model -->
      <li>{{ contact.last_name }}</li>
      <li>{{ contact.birthday }}</li>
      <li>{{ contact.phone_number }}</li>
      <li>{{ contact.is_cell }}</li>
      <li>{{ contact.omments }}</li>
      {% endfor %}
    </ul>
  </body>
</html>

<!--
    FOLLOW THIS STEPS to continue with the project: 

See the polls app as a reference also see the demos: 

    The application will have the following views:

/contacts/ will render a template containing a new contact button, as well as a list of contacts each with a view contact button
/contacts/<id>/ will be a detail page for a contact with the given id # detail.html
/contacts/new/ will render a template containing a form for creating a new contact # contactnew.html
/contacts/new/submit/ will receive the form submission from /contacts/new/, create a new contact in the database, and redirect to the detail page for the newly created contact
for this last step I can have a result.html like I have on the polls 
the redirect will happens after I click the the submit button

under tamplate create file
detail.html
contact_new.html
-->
