<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='Karategi.png') }}" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>✊HAND BATTLE!✊</title>
</head>
<body>
    <h1><i><u>HAND BATTLE!!!</u></i></h1>
    <form action="/" method="POST">
        <select name="user_choice" required>
            <option disabled selected value="">Choose your weapon</option>
            <option value="rock">Rock</option>
            <option value="paper">Paper</option> 
            <option value="scissors">Scissors</option>
            <select>
        <button type="submit">submit</button>
      </form>
      <h3>{{user_choice}}</h3>
      <h3>{{computer}}</h3>
      <h2>{{result}}</h2>
      <h3>Your Score:  {{score["user_score"]}}  |  Computer's Score:  {{score["computer_score"]}}</h3>

</body>
</html>