<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css') }}"/>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="container">
        <div class="vertical-center">
                <a href="http://127.0.0.1:5000/password_gen">link to password_gen</a>
        </div>
    </div>
    <img src="{{url_for('static', filename='Desis_Password.png') }}"/>
    
</body>
</html> -->






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Desi!</h1>
</body>
</html>

<!-- 
<ul>
    {% for num in nums %}
    <li><a href="http://www.google.com/">{{num}}</a></li>
    {% endfor %}
</ul> -->

<!-- 
<h2>Input Elements</h2>
<input type= "text"/>
<input type= "color"/>
<input type= "date"/>
<input type= "password"/>
<input type= "radio"/>
<input type= "checkbox"/> -->
