<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{{url for ('static', filename='style.css') }}"/>
    <style type="text/css">
    </style>
</head>
<body>
    
    <form action="/" method="post">
        <input type="text" name="user_name" placeholder="can you help me generate a password with random characters">
        <input type="date" name="birthday" placeholder="I would like you to choose a number between 5 and 35"/>
    </form>
</body>
</html>
