<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css') }}"/>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="container">
        <div class="vertical-center">
            <form action="/rot13" method="post">
                <input type="text" name="message" placeholder="enter some test" />
                <button type="submit">submit
                </button>
            </form>
        </div>
    </div>
    
    {%if text != ""%}
        <div class="output">
            <span>
                Your new text is {{text}}
            </span>
        </div>
    {%endif%}
</body>
</html>

