<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <!-- 4 important parts of a form -->
    <!-- action - path to which we're submitting the data -->
    <!-- method - http method we're going to use to submit the data -->
    <!-- input/select/textarea elements with name attributes - how we retrieve data on the back-end -->
    <!-- button type="submit" - submitting the form -->
    <form action="/" method="post">
        <input type="text" name="input_text" placeholder="the text to encode"/>
        <input type="number" name="rotation_amount" placeholder="rotation amount"/>
        <button type="submit">submit</button>
    </form>
    {% if output != '' %}
    <div>The output is {{output}}</div>
    {% endif %}
</body>
</html>