<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
</head>
<body>
    <h1>Unit Converter</h1>
    <h3>Enter a length in feet to convert to meters</h3>
    <form action="/" method="post">
        <input type="text" name ="user_input" placeholder="Enter Length" />
        <select name="units">
            <option value="in">inches</option>
            <option value="ft">feet</option>
            <option value="yd">yards</option>
            <option value="m">meters</option>
            <option value="mi">miles</option>
            <option value="km">kilometers</option>
        </select>
        <button type="submit">submit</button>
    </form>
    <div>{{result}} meters</div>
</body>
</html>