<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <style type="text/css">

    </style>
</head>

<body>
    
    <header>
        <img src="{{ url_for('static', filename='header_pic.png')}}"/>
    </header>
    <div class="container">
        <div class="button">
            <form action="" method="post">
                <input id="num_select" type="number" name="password_length" placeholder="Number of Characters" />
                <button id="submit_select" type="submit">submit</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="button">
            <form action="" method="post">
                <input id="upper_select" type="letter" name="password_length" placeholder="Uppercase Letter" />
                <button id="submit_select" type="submit">submit</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="button">
            <form action="" method="post">
                <input id="lower_select" type="letter" name="password_length" placeholder="Lowercase Letter" />
                <button id="submit_select" type="submit">submit</button>
            </form>
        </div>
    </div>
    <div class="slot">
        <img id="slot1" src="{{ url_for('static', filename='slot.jpg')}}" width="600" height="500"/>
    </div>
    {%if password != ""%}
        <div class="output">
            <span>
                Your password is "  {{password}}  "
            </span>
        </div>
    {%endif%}
</body>

</html>