<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="index.css") }}' />
    <style type='text/css'>


    </style>
</head>

<body>
    <form action="" method="post">
        <input type="text" name="input_text" placeholder="enter some text" />
        <button type="submit">submit</button>
    </form>
    <header>
        <img src='{{ url_for("static", filename="header_pic.png")}}' />
    </header>

</body>

</html>