*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;
}
.navbar-style
{
    box-shadow: 0 6px 12px #efefef;
}
.log
{
    height: 55px;
    padding: 4px 12px;
}

.icon-bar
{
    background: darkseagreen;
}

li a {
    color: black
}

body {
    background-image:white url("beach_background.jpeg")no-repeat;
}