<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    
</head>
<body>
    <h1>Gotta Catch 'Em All!</h1>
    <div>
        <form action="{% url 'pokedex:index' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="search pokemon" name="search" value="{{search}}"/>
            <input type = "submit" value="Submit">
        </form>
    </div>
    <table>
        <tr>
            <th>
                <label>number</label>
            </th>
            <th>
                <label>name</label>
            </th>
            <th>
                <label>height</label>
            </th>
            <th>
                <label>weight</label>
            </th>
            <th>
                <label>front image</label>
            </th>
            <th>
                <label>back image</label>
            </th>
            <th>
                <label>type</label>
            </th>
        </tr>
        {% for pokemon in pokemon %}
        <tr>
            <th>
                <a>{{pokemon.number}}.</a>
            </th>
            <th>
                <a>{{pokemon.name|title}}</a>
            </th>
            <th>
                <a>{{pokemon.height}}</a>
            </th>
            <th>
                <a>{{pokemon.weight}}</a>
            </th>
            <th>
                <img src="{{pokemon.image_front}}">
            </th>
            <th>
                <img src="{{pokemon.image_back}}">
            </th>
            <th>
                {% for type in pokemon.types.all %}
                {{ type.name }}
                {% endfor %}
            </th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>