<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail polls</title>
</head>
<body>
    <h1>{{ question.question_text }}</h1>

{% if error_message %} <p> {{error_message}}</p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% crsf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">

    <label for="choice{{ forloop.counter }}"> {{ choice. choice_text}}</label>
    {% endfor %}

    <input type="submit" value="Vote">

</form>
</body>
</html>