<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pokedex/style.css' %}">
    <title>Pokedex Home</title>
</head>
<body>
    <ul>
        <form action="{% url 'pokedex:pokemon_type' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="search">
            <button id="button" href="/contacts/types" class="btn btn-primary" type="submit">submit</button>
        </form>
        <div>{{list_of_pokemon.object_list.count}}/{{list_of_pokemon.paginator.count}}</div>
        <div id="name">
            <p>Pokedex</p>
        </div>
        <table>
            <tr id="row">
                <th id="top-row">
                    <label>Number   </label>
                </th>
                <th id="top-row">
                    <label>Name    </label>
                </th>
                <th id="top-row">
                    <label>Height  </label>
                </th>
                <th id="top-row">
                    <label>Weight </label>
                </th>
                <th id="top-row">
                    <label>Types </label>
                </th>
                <th id="top-row">
                    <label>Front Image </label>
                </th>
                <th id="top-row">
                    <label>Back Image </label>
                </th>
            </tr>
            {% for pokemon in list_of_pokemon %}
            <tr id="row">
                <th id="first">
                    <a href="/pokedex/{{ pokemon.id }}">{{ pokemon.number }}</a>
                </th>
                <th id="second">
                    <a>{{ pokemon.name }}</a>
                </th>
                <th id="first">
                    <a>{{ pokemon.height }}</a>
                </th>
                <th id="second">
                    <a>{{ pokemon.weight }}</a>
                </th>
                <th id="first">
                    {% for type in pokemon.types.all %}
                    <a>{{ type }}</a>
                    {% endfor %}
                </th>
                <th id="second">
                    <img src="{{ pokemon.image_front }}" alt="{{ pokemon.name }} image front">
                </th>
                <th id="first">
                    <img src="{{ pokemon.image_back }}" alt="{{ pokemon.name }} image back">
                </th>
            </tr>
            {% endfor %}
        </table>
        <div>
            {% if list_of_pokemon.has_previous %}
            <a href="?page={{list_of_pokemon.previous_page_number}}">&lt;</a>
            {% endif %}
            <span>{{list_of_pokemon.number}}</span>
            {% if list_of_pokemon.has_next %}
            <a href="?page={{list_of_pokemon.next_page_number}}">&gt;</a>
            {% endif %}
        </div>
    </ul>
</body>
</html>