<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pokedex/style.css' %}">
    {% if single_pokemon %}
    <title>{{ single_pokemon.name }}</title>
    {% else %}
    <title>Not Available</title>
    {% endif %}
</head>
<body>
    <ul>
        <div id="name">
            <p>Pokedex</p>
        </div>
        {% if single_pokemon %}
        <table>
            <tr id="row">
                <th id="top-row">
                    <label>Number   </label>
                </th>
                <th id="top-row">
                    <label>Name    </label>
                </th>
                <th id="top-row">
                    <label>Height  </label>
                </th>
                <th id="top-row">
                    <label>Weight </label>
                </th>
                <th id="top-row">
                    <label>Types </label>
                </th>
                <th id="top-row">
                    <label>Front Image </label>
                </th>
                <th id="top-row">
                    <label>Back Image </label>
                </th>
            </tr>
            <tr id="row">
                <th id="first">
                    <a>{{ single_pokemon.number }}</a>
                </th>
                <th id="second">
                    <a>{{ single_pokemon.name }}</a>
                </th>
                <th id="first">
                    <a>{{ single_pokemon.height }}</a>
                </th>
                <th id="second">
                    <a>{{ single_pokemon.weight }}</a>
                </th>
                <th id="first">
                    {% for type in single_pokemon.types.all %}
                    <a>{{ type }}</a>
                    {% endfor %}
                </th>
                <th id="second">
                    <img src="{{ single_pokemon.image_front }}" alt="{{ single_pokemon.name }} image front">
                </th>
                <th id="first">
                    <img src="{{ single_pokemon.image_back }}" alt="{{ single_pokemon.name }} image back">
                </th>
            </tr>
        </table>
        {% else %}
        <p>There are no Pokemons to be seen in the list</p>
        {% endif %}
        <a id="button" href="/pokedex/home/" class="btn btn-primary">Go Back</a>
    </ul>
</body>
</html>