<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    {% if temperature < 60 %}
        <div>{{temperature}} cold</div>
    {% elif temperature < 80 %}
        <div>{{temperature}} warm</div>
    {% else %}
        <div>{{temperature}} hot</div>
    {% endif %}
    <ul>
        {% for myfruit in fruits %}
        <li>{{myfruit}}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'demo:receive_form' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="enter some text" value="some text" name="mytext"/>
        <input type="number" placeholder="enter a number" name="mynumber"/>
        <input type="password" name="mypassword"/>
        <textarea name="mylargetext"></textarea>
        <input type="checkbox" name="mycheckbox" checked/>
        <input type="radio" name="myradio"/>
        <select name="myfruit">
            <option value="apple">Apple</option>
            <option value="banana">Banana</option>
            <option value="pear">Pear</option>
        </select>
        <button type="submit">Submit Form</button>
        <!-- <input type="submit" value="Submit Form"/> -->
    </form>
</body>
</html>