[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
django = "*"
django-phone-field = "*"
pillow = "*"

[requires]
python_version = "3.8"
