<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <h1>Password Generator</h1>
    <h2><img src=https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.vHQmNqHEU9-wiYQTFDjkaAHaFj%26pid%3DApi&f=1></h2>
    <form action="/" method="post"> 
        <div>
            <select name="Password Length">
                <option value="6">Six Characters</option>
                <option value="7">Seven Characters</option>
                <option value="8">Eight Characters</option>
                <option value="9">Nine Characters</option>
                <option value="10"> Ten Characters</option>
            </select>
            <button type="submit">Generate Password</button>
        </div>
        
    <div>{{password}}</div>

    </body>
    </html>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <h1>Hello {{name}}</h1>
    <span>The temp is {{temp}}</span>
    {% if temp > 70 %}
    <span>hot</span>
    {% elif temp > 60 %}
    <span>warm</span>
    {% else %}
    <span>cold</span>
    {% endif %}

    <ul>
    {% for num in nums %}
        <li><a href="http://www.google.com/">{{num}}!!!</a></li>

    {% endfor %}
    </ul> -->
    
    
    




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
</head>
<body>
    <h1>Password Generator</h1>
    <div>{{result}}</div> -->
    <!-- 4 important parts of a form -->
    <!-- 1 - action - the path to which you're submitting the data -->
    <!-- 2 - method - the http method to use -->
    <!-- 3 - input elements with name attributes -->
    <!-- 4 - button type="submit" -->
    <!-- <form action="/" method="post">
        <button type="submit">Generate Password</button>
        <div>
            <select name="Password Length">
                <option value="six">Six Characters</option>
                <option value="seven">Seven Characters</option>
                <option value="eight">Eight Characters</option>
                <option value="nine">Nine Characters</option>
            </select>
        </div>
        
    </form>
    
</body>
</html> -->