<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokedex</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        /* add a left margin here to make the back to home button to be more in the left side */
    </style>
</head>

<body>
    <h1 style="color:skyblue;"><i>Welcome to Pokemon Land!</i></h1>
    <h2 style="color:rgb(135, 235, 138);"><i>Pokédex Roster<b></i>
    </h2>
    <h2 style="color:rgb(235, 135, 135);"><i>Click the Name of your Favorite Pokemon to see more details!<b></i>
    </h2>
    <div>
        <form action="{% url 'pokedex:index' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Search Pokemon" name='q' id="id_q">
            <!-- Search button at the top of the Index - Home Page-->
            <button type="submit" class="btn btn-primary">search</button>
        </form>
    </div>
    <div class="row">
        <div class="col-6">
            {% for pokemon in pokemons %}
            <div>
                <!-- <li>{{ pokemon.name }}</li>
            <li>{{ pokemon.number }}</li> -->
                <img src="{{pokemon.image_front}}">
                <img src="{{pokemon.image_back}}">
                <a href="{% url 'pokedex:detail' pokemon.number%}">{{ pokemon.name }}</a>
            </div>
            {% endfor %}
        </div>


        <div class="col-6">
            <h2 style="color:blue;"><i>Search Results:</i></h2>
            {% for pokemon in query %}
            <div>
                <!-- <li>{{ pokemon.name }}</li>
            <li>{{ pokemon.number }}</li> -->
                <img src="{{pokemon.image_front}}">
                <img src="{{pokemon.image_back}}">
                <a href="{% url 'pokedex:detail' pokemon.number%}">{{ pokemon.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Pagination on the div below =  https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html-->

    <div class="pagi">
        {% if pokemons.has_previous %}
        <a href="?page={{pokemons.previous_page_number}}">&laquo;</a> {% endif %}
        <!--  <span>{{pokemon.number}}</span>  IS GOVING THE PAGE NUMBER IN THE MIDDLE OF THE PAGE BETWEEN PREVIOUS AND NEXT learn how to stop from saving to the line above
        when I save the line move up learn how to save in place =  <span>{{pokemon.number}}</span> {% if pokemon.has_next %}
        <a href="?page={{pokemon.next_page_number}}">&gt;</a> {% endif %} move -->
        <span>{{pokemons.number}}</span> {% if pokemons.has_next %}
        <a href="?page={{pokemons.next_page_number}}">&raquo;</a> {% endif %}
    </div>
</body>

</html>