<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Pokedex</title>
</head>

<body>
    <h1>Welcome to Pokemon Land!</h1>
    <h2><b>Pokédex Roster Click the Name of your favorite Pokemon to Learn more About it!<b></h2>

    {% for pokemon in pokemon %}
    <div>
        <!-- <li>{{ pokemon.name }}</li>
        <li>{{ pokemon.number }}</li> -->
        <img src="{{pokemon.image_front}}">
        <img src="{{pokemon.image_back}}">

        <a href="{% url 'pokedex:detail' pokemon.number%}">{{ pokemon.name }}</a>
    </div>
    {% endfor %}
</body>

</html>



<!-- {% for pokemon in pokemon %}
<div>
     <li>{{ pokemon.name }}</li>
    <li>{{ pokemon.number }}</li> -->
<!-- <img src="{% url 'pokedex:detail' pokemon.id%}"> {{ pokemon.name }} {{pokemon.image_front}} -->
<!-- {{pokemon.image_back}}</a> -->
<!-- <a href="{% url 'pokedex:detail' pokemon.id%}"> {{ pokemon.number }} {{pokemon.name}} {{pokemon.image_back}}</a> -->
</div>
<!-- {% endfor %} --> -->