<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Increment or Decrement</h1>
    <div>{{value}}</div>
    <form action="/submit_form" method="post">
        <select name="inc_or_dec">
            <option value="increment">increment</option>
            <option value="decrement">decrement</option>
        </select>
        <button type="submit">submit</button>
    </form>
    <h1>Save Your To Do List</h1>
    <form action="/save_to_do" method="post">
        <input type="text" name="mytodo" />
        <button type="submit">submit</button>
        <ul>
            <li>walk the dog (high)</li>
            <li>butter the cat (medium)</li>
            <li>wash dishes (low)</li>
        </ul>
    </form>
</body>

</html>