<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style type="text/css">
        body {
            font-family: sans-serif;
            background-color: lightslategray;
        }

        header {
            text-align: center;
        }

        #main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>

<body>
    <header>
        <h1>Welcome to the to do list</h1>

    </header>
    <div id="main">
        <ul>
            {% for task in tasks %}
            <li>{{task}}</li>
            {% endfor %}
        </ul>
        <p>Add Chore Below/Select Priority</p>
        <form action="/submit_task_to_do" method="POST">
            <input type="text" name="task">
            <select name="priority" id="">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
            <button type="submit">submit</button>
        </form>
    </div>
</body>

</html>

</html>