<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</head>

<body>
    <div id="app">
        <h1>Unit Converter</h1>
        <div>
            <!-- input the number of units -->
            <input type="text" v-model="number_input" placeholder="Enter number of units: " />
            <!-- select a starting unit -->
            <select v-model="start_unit">
                <!-- binding the vue object start_unit to the users input-->
                <!-- using v-for to bind an array of vue objects to an array of HTML element -->
                <option v-for="unit in units" v-bind:value="unit">{{unit.name}}</option>
            </select>
            <!-- select an end unit -->
            <select v-model="end_unit">
                <!-- bind the vue object end_unti to the users input -->
                <!-- using v-for to bind an array of vue objects to an array of HTML element -->
                <option v-for="unit in units" v-bind:value="unit">{{unit.name}}</option>
            </select>
            <!-- submit the inputs for conversion -->
            <button v-on:click='conversion'>convert</button>
        </div>
        <!-- directive v-if only renders the block if submitted is true-->
        <div v-if="this.submitted">
            <!-- display conversion here -->
            {{this.solution}} {{this.end_unit.name}}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        // vue app
        let app = new Vue({

            el: '#app',
            // app data contains variables referenced in the html
            data: {
                // 
                submitted: false,
                solution: null,
                start_unit: null,
                end_unit: null,
                // conv_factor: 1,
                number_input: null,
                // value: null,
                units: [{
                    name: 'ft',
                    con_fact: 0.3048
                }, {
                    name: 'mi',
                    con_fact: 1609.34
                }, {
                    name: 'm',
                    con_fact: 1
                }, {
                    name: 'km',
                    con_fact: 1000
                }],

            },
            // app methods can be bound to events on html elements (v-on)
            methods: {
                // multiple number_input by start_unit conversion factor to convert to meters
                // then divide distance in meters by the conversion factor of end_unit
                conversion: function () {
                    let value = parseFloat(this.number_input)
                    console.log(value)
                    let value_in_m = value*this.start_unit.con_fact
                    console.log(value_in_m)
                    // return String(this.solution)
                    this.solution = String(value_in_m/this.end_unit.con_fact)
                    // sets conditional submitted to true
                    this.submitted = true

                }
            }
        }

        )
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</body>

</html>