
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Weather Api</H1>
    <form action="/" method="POST">
        <textarea name="city" id="" cols="30" rows="1" placeholder="Enter City"></textarea>
        <textarea name="country" id="" cols="30" rows="1" placeholder="Enter Country"></textarea>
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>
