<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Mob Quiz</title>
</head>

<body>
    <div id='app'>
        <ol>
            <li v-for='result in results' :value='result.id'>
                <h4>{{result.question}}</h4>
                <div v-for="answer in result.incorrect_answers">
                    <input :value="answer" v-bind:name='result.question' type="radio">

                    <span>{{answer}}</span>
                </div>

            </li>
        </ol>
        <ol>
            <li v-for='result in results' :value='result.id'>{{result.correct_answer}}</li>
        </ol>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: "#app",
            data: {
                questions: [],
                results: [],

            },
            methods: {
                score: function() {
                
                }
            },

            created: function () {
                axios({
                    method: 'get',
                    url: 'https://opentdb.com/api.php',
                    params: {
                        amount: 10,
                        category: 18,
                        difficulty: 'easy'
                    }
                }).then(response => {
                    let questions = response.data.results
                    console.log(questions)
                    this.results = questions
                    let answers = []
                    for (i = 0; i < this.results.length; ++i) {
                        let result = this.results[i]
                        result.answers = result.incorrect_answers.push(result.correct_answer)
                        // result.new_attribute = 'NEW ATTRIBUTE!'
                        //answers = []
                        //answers.push('correct_answer' + 'incorrect_answers')


                    }
                })

            }
        })

        // let results = [
        //     {
        //         correct_answer: 2,
        //         incorrect_answers: [1, 3, 4],
        //         all_answers: [1, 2, 3, 4],
        //     },
        //     {

        //     }
        // ]
        // for (let i = 0; i < results.length; i++) {
        //     let result = results[i];
        //     result.incorrect_answers.push(result.correct_answer);
        // }
    </script>

</body>

</html>