<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/example8/" method="post">
      <input type="text" name="mytext" placeholder="enter some text"/><br/>
      <textarea name="mytextarea">abc123</textarea><br/>
      <input type="password" name="mypassword"/><br/>
      <input type="number" name="mynumber" disabled/><br/>
      <input type="date" name="mydate"/><br/>
      <input type="time" name="mytime"/><br/>
      <input type="color" name="mycolor"/><br/>
      <input type="checkbox" name="mycheckbox1"/>check 1<br/>
      <input type="checkbox" name="mycheckbox2"/>check 2<br/>
      <input type="radio" name="myradio" value="1"/>Option 1<br/>
      <input type="radio" name="myradio" value="2"/>Option 2<br/>
      <input type="radio" name="myradio" value="3"/>Option 3<br/>
      <select name="mydropdown">
        <option value="A">Option A</option>
        <option value="B">Option B</option>
        <option value="C">Option C</option>
      </select>
      <br/>
      <button type="submit">submit</button>
      <input type="submit" value="submut"/>
    </form>
  </body>
</html>