<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello {{name}}</h1>
    <p style="color:{{text_color}}">The temperature is {{temperature}} which is
      {% if temperature < 60 %}
        cold
      {% elif temperature < 80 %}
        warm
      {% else %}
        hot
      {% endif %}
    </p>
    <p style="color:{% if temperature < 50 %}blue{% else %}orange{% endif %}">The temperature is {{temperature}} which is
      {% if temperature < 60 %}
        cold
      {% elif temperature < 80 %}
        warm
      {% else %}
        hot
      {% endif %}
    </p>
  </body>
</html>