<!-- to create the template for html short cut ! then hit tab 
short cut to create h1 or h2 is type h1 then click tab button
I -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <style type="text/css">
        /* my style here */
    </style>

    <title>Document</title>
</head>

<body>
    <!-- <p>Hello {{word}}</p>
    <h1>Hello </h1>
    <h2> My name is </h2> -->
    <header>
        <!-- static image file -->
        <img src="{{ url_for('static', filename='rot13_logo.png') }}">
    </header>

    <div>
        <a href="http://localhost:5000/rot13"><h3> Please click Rot13</h3></a>
    </div>
    <div>
        <a href="http://localhost:5000/unit_converter"><h3>Please click Unit Converter</h3></a>
    </div>
   
</body>

</html>