<!-- to create the template for html short cut ! then hit tab 
short cut to create h1 or h2 is type h1 then click tab button
I -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <style type="text/css">
        /* my style here */
    </style>

    <title>Random Password Generator!</title>
</head>

<body>
    <!-- <p>Hello {{word}}</p>
    <h1>Hello </h1>
    <h2> My name is </h2> -->
    <header>
        <!-- static image file -->
        <img src="{{ url_for('static', filename='random_password_generator_logo.png') }}">
    </header>

    <H1>WELCOME TO Random Password Generator!</H1>
    <form action="" method="post">
        <!-- we put it inside a div to make a space in between the text so we do need to use the break br in between -->
        
            <h1><input class= 'input_field' type="text" name="letters_input" placeholder="Please enter Please enter how many letters do you want on your password(PW): " /></h1>
            <h1><input class= 'input_field' type="text" name="digits_input" placeholder="Please enter how many Digits do you want on your PW: " /></h1>
            <input class= 'input_field' type="text" name="punctuation_input" placeholder="Please enter how many Punctuation do you want on your PW: " />
            <h1><button class= 'input_button' type="submit">submit</button></h1>
    </form>
    {{word}} <!--jinja it used to run python code into HTML How to use python jinja 
                    to be able to see the result on the HTML page once the submit button has been clicked   -->
</body>

</html>
<!-- # letters_input = int(input('How many letters do you want: '))
# digits_input = int(input('How many digits do you want: '))
# punctuation_input = int(input('How many Punctuation do you want: ')) -->