<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .errorlist {
            background-color:red;
            color:white;
        }
    </style>
</head>
<body>
    <h1>Edit Contact</h1>
    <a href="{% url 'main:index' %}">view contact list</a>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Edit Contact</button>
    </form>
    
</body>
</html>