<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Contacts...</h1>
    <table class="table">
      <tr>
          <th><a href="{% url 'contacts2:entry_page' %}" class="btn btn-success btn-lg">➕</a></th>
          <th></th>
          <th></th>
      </tr>
      {% for card in cards %}
      <tr>
          <td><a href="{% url 'contacts2:detail' card.id %}" class="btn btn-secondary btn-sm">🔎</a>&ensp;
            <a href="{% url 'contacts2:detail' card.id %}" class="btn btn-info btn-sm">✏</a>&ensp;
            <a href="{% url 'contacts2:delete' card.id %}" class="btn btn-danger btn-sm">✖</a>&ensp;
            {{card.last_name}}, {{card.first_name}}</td>
          <td></td>
          <td></td>
      </tr>
      {% endfor %}
  </table>
  </body>
</html>