#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#big_bird{
    padding: 4rem;
}
/* https://materializecss.com/range.html, https://cdnjs.com/libraries/noUiSlider, https://www.youtube.com/watch?v=NSq3Yh2tVQM */
#input_credit_card{
    padding: 5rem;
}
/* #test-slider{
    background-color: red;
    color: beige;
    padding: 8rem;
} */