.first-text{
    opacity: 0.8;
    /* color: whitesmoke; */
    /* background-color: blueviolet; */
    padding: 8rem;
}
.big-title, collection{
    color:blue;
    background-color: orange;
}
#input-text{
    width: 50px;
    height: 40px;
}