<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style type="text/css">
        .message {
            color:red;
            font-size:40px;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    {% if message %}
    <div class="message">{{message}}</div>
    {% endif %}
    <form action="{% url 'users:login_page' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" required/>
        <input type="password" name="password" placeholder="password" required/>
        <button type="submit">login</button>
    </form>
    <div>Don't have an account? <a href="{% url 'users:register_page' %}">Register</a></div>
</body>
</html>