h1{
    background-color: #CC0000;
    font-weight: normal;
    text-align: center;
    font-size: 100px;
    padding: 10px;
    margin: 0px;
    color: #95D600;
}

h2{
    background-color: #CC0000;
    font-weight: normal;
    text-align: center;
    font-size: 75px;
    padding: 1px;
    margin: 0px;
    color: #0C4593;
}

body{
      background-color: #95D600;
      font-weight: normal;
      text-align: center;
      font-size: 25px;
}

body_2{
  background-color: #0C4593;
  font-weight: normal;    
  text-align: left;
  font-size: 30px; 
}
  
