

/* body */
body {
    background-color: #003049;
    /* background-color:white; */
}
/* header */
header{ 
    text-align: center;
    /* background-color: #FF006E; */
    box-shadow: 0 5px 5px grey;
    margin-bottom:20px;
}

.message {
    background-color:blue;
    padding:10px;
    color:white;
}

/* button */
.container .button {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
}

#num_select {
    text-align: center;
    height: 25px;
    width: 200px;
}

#submit_select {
    text-align: center;
    height: 30px;
    width: 60px; 
}
/* password output */
.output {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    color: #FB5607;
    font-size: 1.5rem;
    margin: 25px
}
/* slot pic positioning */
.slot {
    text-align: center;
   
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}
/* slot pic edges */
#slot1 {
    border-radius: 50px;
}

