<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <a href="https://fontmeme.com/pokemon-font/"><img
            src="https://fontmeme.com/permalink/200605/bd8337f6429d575bc4c01a09d113ba3f.png" alt="pokemon-font"
            border="0"></a>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pokedex/style.css' %}" />
    <title>Pokemon Data</title>
</head>

<body>
    <div class="holding-card">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{pokemon.image_front}}" style="width:300px;height:300px;" />
                    <h4>{{pokemon.name|title}}</h4>
                </div>
                <div class="flip-card-back">
                    <h2>{{pokemon.number}}</h2>
                    <h4>{{pokemon.name|title}}</h4>
                    <img src="{{pokemon.image_front}}" style="width:150px;height:150px;" /><img
                        src="{{pokemon.image_back}}" style="width:150px;height:150px;" />
                    <p>Height: {{pokemon.height}} Weight: {{pokemon.weight}}</p>
                    <p>Types: {% for type in pokemon.types.all %} {{type|title}}{% if not forloop.last%},{% endif%}
                        {% endfor %}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="form-group">
        <label for="num">Number</label>
        <input type="number" class="form-control" id="num" name="number" value="{{pokemon.number}}" />
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{pokemon.name|title}}" />
        <label for="height">Height</label>
        <input type="number" class="form-control" id="height" name="height" value="{{pokemon.height}}" />
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" name="weight" value="{{pokemon.weight}}" />
        <div>
            <label for="fimg">Front Image</label>
            <input type="text" class="form-control" id="fimg" name="front_image" value="{{pokemon.p.image_front}}" /> -->
    <!-- <img src="{{pokemon.image_front}}" /> -->
    <!-- <label for="bimg">Back Image</label> -->
    <!-- <input type="text" class="form-control" id="bimg" name="back_image" value="{{pokemon.p.image_back}}" /> -->
    <!-- <img src="{{pokemon.image_back}}" /> -->
    <!-- </div> -->
    <!-- <label for="types">Types</label> -->
    <!-- <input type="manytomany" class="form-control" id="types" name="types" value="{{types|title}}"  /> -->
    <!-- <input type="manytomany" class="form-control" id="types" name="types" -->
    <!-- value="{% for type in pokemon.types.all %} {{type|title}}{% if not forloop.last%},{% endif%} {% endfor %}" /> -->
    <!-- </div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>