<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pokedex/style.css' %}" />
    <title>Pokedex</title>
</head>

<body>
    <h1>Pokemon Go!</h1>
    <div>
        <form action="{% url 'pokedex:index' %}" method="post">
            {% csrf_token %}
            <img class="pokeball" alt="picture of pokedex" src="{% static 'pokedex/pokeball.png' %}">
           <input type="text" placeholder="Search for Pokemon" name="search">
        </form>
    </div>

    {% for p in pokemon %}

    <div class="chip">
        <img src="{{p.image_front}}" alt="Pokemon" width="96" height="96">
        <!-- <img id="{% url 'pokedex:detail' p.id%}" src="{{p.image_front}}"> -->
        <!-- <img id="{% url 'pokedex:detail' p.id%}" src="{{p.image_back}}"> -->
        <a href="{% url 'pokedex:detail' p.id%}"> {{p.name|title}}</a>
    </div>
    <div>{% if search %} for search text "{{search}}"{% endif %}</div>
    {% endfor %}
    <div>
        {% if pokemon.has_previous %}
        <a href="?page={{pokemon.previous_page_number}}">&lt;</a>
        {% endif %}
        <span>{{pokemon.number}}</span>
        {% if pokemon.has_next %}
        <a href="?page={{pokemon.next_page_number}}">&gt;</a>
        {% endif %}
    </div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>