#rotate-string-content {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    font-family: var(--font1);
    margin: 0;
    min-height: 100vh;
}

#rotate-string-content .row {
    margin: 0;
}


form {
    background-color: var(--div-bg1);
    border-radius: 5px;
    margin: 15px 15px 0 15px;
    padding: 15px;
}

form fieldset {
    border: none;
    color: var(--font-color1);
}


/* Hide number input up/down arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form #user_string {
    background-color: var(--accent1);
    border: none;
    border-bottom: 4px solid var(--accent1);
    border-radius: 5px;
    color: var(--font-color1);
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}

#r_factor {
    display: flex;
    justify-content: center;
}

#r_factor .col {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#r_factor_label {
    font-size: 1.5rem;
}

#r_factor_input {
    border: none;
    color: var(--font-color1);
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    width: 15%;
}

#submit-container {
    text-align: center;
}

form #submit {
    align-self: center;
    background-color: var(--div-bg2);
    border: 2px solid ;
    border-radius: 5px;
    color: var(--font-color1);
    font-size: 1.1rem;
    padding: 5px;
    transition: all .3s ease-in-out;

}

form #submit:hover {
    background-color: var(--font-color3);
    color: var(--button-hover-font-color);
}

#result {
    align-items: center;
    background-color: var(--div-bg2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 15px;

}

#result > .row .col {
    text-align: center;
}

#result span {
    color: var(--font-color1);
    font-size: 2.5rem;
    padding: 15px;
    word-break: break-all;
}

#result h2 {
    color: var(--font-color3);
    font-family: var(--font3);
    word-break: break-all;
}