<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
Register
    </h1>
    {% if message %}
    <div class="message">{{message}}</div>
    {% endif %}
    <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"/>
        <input type="email" name="email" placeholder="email"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="password" name="retype_password" placeholder="retype password"/>
        <button type="submit">register</button>
    </form>
    
</body>
</html>