<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} must add load static anytime to get static tag to work  {% endcomment %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pokeapp/poke_detail.css' %}">
    <meta charset="UTF-8">
    <meta name="description" content="Pokedex built by me">
    <meta name="keywords" content="portland, oregon, pokemon">
    <meta name="author" content="Nick Gallo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon {{ pokemon.name }}</title>
</head>
<body>
    <div class="header">
    <h1>Information on {{pokemon.name}}</h1>
    <a href="{% url 'pokeapp:index' %}">return home</a>
    </div>

    {% comment %} <img id="PokeDex_image" alt="picture of pokedex" src="{% static 'pokeapp/images/pokedex.png' %}"> {% endcomment %}

    <div class="podex_div">
    <p>Number: {{pokemon.number}}</p> <br/>
    <p>Height: {{pokemon.height}}</p> <br/>
    <p>Weight: {{pokemon.weight}}</p> <br/>
    <p><img class="pokemon_front_picture" src="{{pokemon.image_front}}"><img class="pokemon_back_picture" src="{{pokemon.image_back}}"></p> 
    {% comment %} must handle types differently because many to many {% endcomment %}
    <p>Type(s): <ul>{% for type in pokemon.types.all %} <li> {{type}} </li>{% endfor %}</ul></p>
    </div>
    <div class="bottom_nav_bar">
    <a href="{% url 'pokeapp:poke_detail' pokemon.number|add:"1"%}">next page</a>
    {% comment %} can only add (can't "subtract") -1 {% endcomment %}

    <a href="{% url 'pokeapp:poke_detail' pokemon.number|add:"-1"%}">previous page</a>
    <a class="random_poke_page" href="{% url 'pokeapp:random_pokemon' %}">random pokemon</a>
    <a href="{% url 'pokeapp:index' %}">return home<a>

    </div>
    <footer class="footer">Nick Gallo | Class_Armadillo | &copy 2020</footer>
</body>
</html>