body {}
html {
    background-image: url(spiral.jpg);
    background-repeat: repeat;
    background-size: cover
}
h1 {
    color:rgb(255, 119, 142)
}
h1 span {
    background-color: black;
}
a {
    color:rgb(238, 30, 30)
}
hr {
    color:rgb(238, 30, 30);
    background-color: black;
    padding: 1mm
}
h2 span {
    background-color: black;
}
h3 {
    color:rgb(255, 119, 142);
    padding: 10px
}
h3 span {
    background-color: black;
}