<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    <form action="{% url 'todoapp:save_todo' %}" method='POST'>
        <input type='text' name='task' placeholder='task'>
        <input type=''
        <select name='todo'></select>
    <ul>
        {% for todos in todos %}
        {% if not completed %}
        <li id='task' type='checkbox'>{{todos.task}}</li>
        {% else %}
        <li>{{todos.task}}</li>
        {% endif %}
        {% endfor %}
    </ul>

</body>
</html>