<div class="navbar">
    <div class="hide-on-large-only" id="toggle">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="nav-links">
        <div class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </div>
        <div class="nav-item">
            <a href="/rotate" class="nav-link">Rotate String</a>
        </div>
        <div class="nav-item">
            <a href="/unit-converter" class="nav-link">Unit Converter</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">Password Generator</a>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
