{% extends 'pokedex/base.html' %} 
{% block title %} Search for Stats {% endblock %} 
{% block content %}


     <form action="{% url 'pokedex:index' %}" method="post">
       {% csrf_token %}
       <input
         type="text"
         placeholder="enter a pokemon to search"
         name="search"
         value="{{search}}"
       />
       <button class="btn btn-primary" type="submit">search</button>
     </form>

    {% for p in pokemon %}
    <img src="{{p.image_front}}" />
    <li>{{p.name}}</li>
    {% endfor %}
   
  {% endblock %} 
