<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass Word Generator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename=index.css') }}"/>
    <style type="text/css">
        header{
            background-color: firebrick;
        }
    </style>
</head>
<body>
    {% if message !+ '' %}
    <div class="message">{{message}}</div>
    {% endif %}
    <header>
        img src="{{url_for('static', filename='PWG.png'"
    </header>
    <form action="/" method="post">
        
    
    </form>
</body>
</html>