<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
</head>
<body>
    <h1>Test</h1>
    <div id="content">
        <ul id="task">
            {% for task in tasks %}
            <li>{{task}}</li>
            {% endfor %}
        </ul>
        <p>Add Edition Below:</p>
        <form action="/submit_task" method="POST">
            <input type="text" name="task">
            <select name="priority" id="">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>