<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honey Do List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <style type="text/css"></style>

</head>

<body>
    <h1>'Honey Do List'</h1>
    <div class="main_pic">
        <img src="{{ url_for('static', filename='chores.jpg')}}" width="400" height="300" />
    </div>
    <div class=button>
        <div class="list">
            <form action="/save_honey_do_list/" method="post">
                <input type="text" name="chore" placeholder="Chore" />
                <input type="text" name="priority" placeholder="Priority" />
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
    <div class="chores">
        <ul style="list-style: none;">
            {% for chore in honey_do_list %}
            <li>{{chore['chore']}}</li>
            {%endfor%}
        </ul>
        <ul style="list-style: none;">
            {% for priority in honey_do_list %}
            <li>{{priority['priority']}}</li>
            {%endfor%}
        </ul>
    </div>

</body>

</html>