<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Update Contact</title>
    <style>
        body{
            text-align: center;
            align-content: center;
        }
    </style>
</head>
<body>
    <form method="POST">
        <h1>Update {{contact_details.first_name}} {{contact_details.last_name}}'s Information</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-info btn-lg">Update Contact</button>
    </form>
</body>
</html>