<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contacts</title>
</head>

<body>
    <h2>Contact List</h2>
    {% for contact in contacts %}
    <div>
        <a href="{% url 'contacts:detail' contact.id %}">{{contact.first_name}} {{contact.last_name}}</a>
    </div>
    {% endfor %}
    <div>
        <a href="{% url 'contacts:new'%}">New Contact</a>
    </div>
</body>

</html>