header{
    text-align: center;
    text-shadow: black;
    background-color: firebrick;
}

h1{
    text-align: center;
    text-shadow: black;
    color: red;
    background-color: #5f6670;
    margin: 0%;
}