
body{
	font-family: 'Roboto Mono', monospace, sans-serif;
	background-image: url("backgroundfrond.jfif");
	max-height: 100vh;
	max-width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: -15px;
}
#container{
	max-width: 45%;
	max-height: 40%;
	margin: 10% auto;
	background-color: #f7f7f7;
	border-radius: 20px;
	box-shadow: 3px 6px 8px rgba(76, 75, 75, 0.644);
	overflow: hidden;
}
h1{
	background-color: #45c556ee;
	color: white;
	margin: 0;
	padding: 5px 20px;
	border-radius: 18px 18px 0 0;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}
.input_box {
  display: flex;
  width: 100%;
}
input{
	font-size: 18px;
	background-color: #f7f7f7;
	color: darkgreen;
	max-width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box; 
	border: 2px solid  #89d1e7e7;
	flex-grow: 5;
}
input:focus{
	background: #fff;
	border: 2px solid  #89d1e7e7;
	outline: none;
}
.enter_button {
    flex-grow: 1;
    min-width: 15px;
    padding: 2px;
    margin: 0 auto;
    background-color: #89d1e7e7;
    border-width: 0;
    font-size: 18px;
    cursor: pointer;
}
.enter_button:focus {
    outline: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	background-color: #fff;
	height: auto;
	line-height: auto;
	color: rgb(56, 55, 55);
}

li:nth-child(2n){
	background-color: #c8c9c805;
}
li:nth-last-child(1){
	border-radius: 0 0 18px 18px;
}
li button span{
	background-color: #e74c3c;
	height: auto;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
	width: 40px;
    opacity: 1.0;
    cursor: pointer;
}
.trash{
	background-color: #e74c3c;
}
.demo:checked + label {
	text-decoration: line-through;
	color: darkgray;
}
.fa-trash{
	font-size: 2rem;
	padding: 5px;
}