<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <title>Cat Image Generator</title>
</head>

<body>
    <div id="kittyApp">
        <img v-bind:src="catFoto" style="max-width: 600px"/>
        <select v-model="catCategoriesInput" name="category">
            <option value="" disabled selected>Select a category</option>
            <option v-for="category in categories" :value="category.id">{{category.name}}</option>
        </select>
        <button v-on:click="getImage">Meow!</button>
    </div>
    <script>
        let app = new Vue({
            el: "#kittyApp",
            data: {
                catCategoriesInput: "",
                categories: "",
                catFoto: "",
            },

            methods: {
                getImage: function () {
                    axios({
                        method: "get",
                        url: `https://api.thecatapi.com/v1/images/search?category_ids=${this.catCategoriesInput}`,
                    }).then(response => {
                        this.catFoto = response.data[0].url
                    })
                },
                loadCategories: function () {
                    axios({
                        method: "get",
                        url: 'https://api.thecatapi.com/v1/categories',
                    }).then(response => {
                        console.log(response)
                        this.categories = response.data
                    })

                }
            },
            created: function() {
                this.getImage()
                this.loadCategories()
            },
        })

    </script>
</body>

</html>