<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things To Do</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css/') }}"/>
    <style type="text/css"></style>
</head>
<body>
    
    <h1>
        Things To Do
    </h1>
    <form action="/" method ="POST">
       <input type = "text" name = "task" placeholder = "Add Task"/>
       <select name="Priority">
           <option value = "High">High</option>
           <option value ="Med">Medium</option>
           <option value = "Low">Low</option>
       </select>
       <button type="Submit">Add</button>
    </form>
    {{result}}

    <div>
        
        <p>
            Add to To Do list
        </p>
        <form action="/submit_list" method="POST"></form>
        <ul>
            <li>Wash The Dishes (High)</li>
            <li>Walk The Dog (Medium)</li>
            <li>Wash The Cars (Low)</li>
        </ul>
    </div>

    <div>
        <img src="{{ url_for('static', filename= 'scroll.png') }}" alt="scroll">
    </div>

</body>
</html>