
/* body */
body {
    background-color: cornsilk;    
}
/* Title or header */
h1 {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 4rem;
    margin: 25px
}
/* picture position */
.main_pic {
    text-align: center;
}

/* list and priority input positions  */
.list {
    text-align: center;
    font-size: 16px;
}
/* chores list */
.chores {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* places the chore and priority side by side */
ul {
    display: inline-block;
}

