<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokemon Card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <a href="{% url 'pokedex:index' %}" class="btn btn-primary">back</a>

    <div class="container">
        <h2>Pokemon Card </h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Poke Front Image</th>
                    <th>Poke Back Image</th>
                    <th>Poke Types</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr class="number"></tr>
                    <td>{{ pokemon.number }}</td>
                    <td>{{ pokemon.name }}</td>
                    <td>{{ pokemon.height }}</td>
                    <td>{{ pokemon.weight }}</td>
                    <td><img src="{{pokemon.image_front}}"></td>
                    <td><img src="{{pokemon.image_back}}"></td>
                    <td>{{ pokemon.types }}</td>

                </tr>
                <tr>
                    {% for type in pokemon.types.all %}
                    <td><b>type</b></td>
                    <td>{{type}}</td>
                    {% endfor %}
                  </tr>

            </tbody>
        </table>
    </div>
    <form action="{% url 'pokedex:index' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Go Back to the Pokemon Home Page</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>